<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Books</h1>
<table >
	<tbody>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Year</th>
		<th>Isbn</th>
		<th>Price</th>
	</tr>
	<tr th:each = "books : ${books}">
	<td th:text ="${books.title}"></td><td th:text ="${books.author}"></td>
	<td th:text ="${books.year}"></td><td th:text ="${books.isbn}"></td><td th:text ="${books.price}"></td>
	<td><a th:href="@{/delete/{id}(id=${books.id})}">Delete</a></td>
</tr>
</tbody>
</table>
<a href="/add" >Add book</a>
</body>
</html>